<form>
    <label for="name">Name :</label>
    <input type="text" id="name"><br />
    <label for="powerType">Power type :</label>
    <select id="powerType">
        <option value="Energy">Energy</option>
        <option value="Fury">Fury</option>
        <option value="Focus">Focus</option>
        <option value="Mana">Mana</option>
        <option value="Rage">Rage</option>
        <option value="Runic Power">Runic Power</option>
    </select><br />
    <label for="media">Media :</label>
    <input type="text" id="media"><br />
    <button>Add</button>
</form>