<form>
    <label for="name">Name :</label>
    <input type="text" id="name"><br />
    <label for="quality">Quality :</label>
    <select id="quality">
        <option value="Poor">Poor</option>
        <option value="Common">Common</option>
        <option value="Uncommon">Uncommon</option>
        <option value="Rare">Rare</option>
        <option value="Epic">Epic</option>
    </select><br />
    <label for="level">Level</label>
    <input type="number" id="level"><br />
    <label for="requiredLevel">Required level</label>
    <input type="number" id="requiredLevel"><br />
    <label for="purchasePrice">Purchase price</label>
    <input type="number" id="purchasePrice"><br />
    <label for="sellPrice">Sell price</label>
    <input type="number" id="sellPrice"><br />
    <label for="isEquippable">Equippable :</label>
    <select id="isEquippable">
        <option value="1">True</option>
        <option value="0">False</option>
    </select><br />
    <label for="isStackable">isStackable :</label>
    <select id="isStackable">
        <option value="1">True</option>
        <option value="0">False</option>
    </select><br />
    <label for="media">Media :</label>
    <input type="text" id="media"><br />
    <label for="itemClass">Item Class :</label>
    <select id="itemClass">
        
    </select><br />
    <button>Add</button>
</form>