<form>
    <label for="name">Name :</label>
    <input type="text" id="name"><br />
    <label for="description">Description :</label>
    <textarea id="description" cols="30" rows="10"></textarea><br />
    <label for="type">Type :</label>
    <select id="type">
        <option value="Primary">Primary</option>
        <option value="Secondary">Secondary</option>
    </select><br />
    <label for="faction">Faction :</label>
    <select id="faction">
        <option value="Alliance">Alliance</option>
        <option value="Horde">Horde</option>
    </select><br />
    <label for="media">Media :</label>
    <input type="text" id="media"><br />
    <button>Add</button>
</form>